h1.title {
  font-size: 48px;
  text-align: center;
  @media (max-width: 600px) {
    white-space: pre;
    font-size: 32px;
  }
  @media (max-width: 400px) {
    font-size: 24px;
  }
}
a.home-link {
  position: absolute;
  top: 0;
  left: 30px;

  h3 {
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }
}
