.wrapper {
  border-radius: 20px;
  border: 1px solid black;
  padding: 0 40px 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    font-size: 24px;
    color: #211e75;
  }
  @media (max-width: 600px) {
    padding: 0 30px 30px;

    .title {
      font-size: 1.2rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .answer-textarea {
    margin-bottom: 20px;
    textarea {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }

  div.quiz-status {
    margin-top: 1rem;
    padding: 1px 1rem;
    border-radius: 8px;

    &.correct {
      background-color: #ebf3ff;
    }
    &.incorrect {
      background-color: #fff8f7;
    }

    &.highlighted {
      &.correct {
        background-color: #dce9fc;
      }
      &.incorrect {
        background-color: #fff0ed;
      }
    }

    p {
      line-height: 1.75rem;
    }
    p > span {
      color: white;
      background-color: red;
      padding: 0.3rem;
      border-radius: 0.5rem;
    }
  }

  button {
    margin-left: auto;

    @media (max-width: 600px) {
      margin-left: unset;
    }
  }

  .show-answer-btn {
    margin-top: 1rem;
  }

  p.answer {
    white-space: pre-line;
  }
}
