html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$tablet-max-width: 750;
$mobile-max-width: 420;

.wrong-word {
  color: white;
  background-color: red;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.contents-main {
  padding-top: calc(16pt * 1.5) !important;
}

@media (max-width: #{$tablet-max-width}px) {
  h4 {
    font-size: 1rem !important;
  }
}

@media (max-width: #{$mobile-max-width}px) {
  .contents-main {
    padding-top: calc(16pt * 0.75) !important;
    padding-bottom: 4rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
}

.emotion.shake {
  animation: shake 1s infinite;
}
.emotion {
  padding: 16px;
  border-radius: 80px;
  &:hover {
    &.love-and-blessing {
      background-color: #ffe2de;
    }
    &.good {
      background-color: #fce9cf;
    }
    &.thumbs-up {
      background-color: #defff3;
    }
    &.sad {
      background-color: #deebff;
    }
    &.cheer-up {
      background-color: #cfd7fc;
    }
    &.pray-with {
      background-color: #eddeff;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#geist-ui-tooltip {
  user-select: none;
}
